<ul class="breadcrumb">
  <li><a href="<%= root_path %>"><span class="fa fa-home fa-fw"></span></a></li>
  <li><a href="<%= transactions_path %>">Transaction</a></li>
  <li><a href="<%= edit_transaction_path %>">New Transaction</a></li>
  <li class="active"><strong>Edit</strong></li>
</ul>
<%= render 'form' %>